<% flash[:notice] = nil %>

<% if @errors.empty? %>
	$.fancybox(
		'<h1><%= t("you_have_been_subscribed") %></h1>',
		{
			'centerOnScroll' : true,
			'autoDimensions' : false,
			width : 380,
			height: 200
		}
	);
<% else %>
	$.fancybox(
		'<h1><%= @errors.join(" , ") %></h1>',
		{
			'centerOnScroll' : true
		}
	);
<% end %>

